.itemPage {
	padding: 2em .5em;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1.2em;
}

.itemDetails {
	display: flex;
	gap: 5rem;
}

.itemImage {
	max-width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .6em;
}

.loader {
	width: 5rem;
	height: 5rem;
	border: 5px solid black;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	position: absolute;
	top: 30%;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
