* {
	padding: 0;
	margin: 0;
}

body, html, #root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	padding: .5em 1em;
}
